.cta__button {
  margin-right: 10px;
}

.schedule__wrap {
  position: relative;
}

.hourAxis {
  position: absolute;
  left: -50px;
  width: 50px;
  top: 0;
  padding: 8px;
}

.hourUnit {
  height: 50px;
  border-bottom: solid black 1px;
}

// NOTE: CSS hacks to fix `reactdatepicker`
:global(.react-datepicker-wrapper) {
  display: block !important;
}

:global(.react-datepicker__input-container) {
  display: block !important;
}

:global(.react-datepicker__time-list) {
  padding: 0 !important;
}
